torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
#pytorch-cuda==12.4
scikit-learn==1.6.0
scikit-image==0.24.0
numpy==2.0.1
pillow==11.0.0
ray==2.40.0
pyarrow==18.1.0
sympy==1.13.1
rich==13.9.4
httpx==0.28.1
fsspec==2024.10.0
jsonschema==4.23.0
tqdm==4.67.1
lz4==4.3.3
typer==0.15.1
torchsummary==1.5.1
#tensordict==0.6.2
tensorboardx==2.6.2.2
torchrl==0.6.0
imageio==2.36.1
